.errorbox-wrapper{
  margin-top: 50px;
  margin-left: 50px;
  width: 500px;
  height: 100px;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;

  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}